@charset "utf-8";
/*清除原有样式*/
html, body, #main, #map {left:0px;top:0px; margin: 0; width: 100%; height: 100%; overflow:hidden;}
ul { padding:0; margin:0; }
ul { list-style:none; }
img { border:0px; }
input:focus,select:focus{ border:1px solid #D6AF64; outline:solid #E1B66A 1px;} 

/*页面半透明*/
.transparent { filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5; }
#logoBtn, #logoText{position:absolute; top:16px;left:56px; width:90px; height:90px;z-index:1000;}
#logoText{left:116px;width:420px;z-index:999;}
#startBtn{position:absolute;top:53px;left:90px;width:50px;height:50px;z-index:1002;}
#start { position: absolute; top: 86px; left: 70px; height: 231px; width: 452px;  z-index:900;background-image: url("../lib/img/win8/menuBg1.png") ; }

#toolbar { position:absolute; height: 200px; width: 50px; right:4px; bottom:100px; z-index:1000; }
#toolbar ul { width:100%; margin: 5px 5px 5px 0; padding:0; margin:0; height:50px; list-style:none; }
#toolbar ul li { margin: 5px 5px 5px 5px; width: 40px; height: 40px; text-align: center; cursor:pointer; }

/* logo图标 */
.logoImg{ background-image: url(../lib/img/win8/logo2.png); }
.logoBtn{width:60px; height:60px; background-position:0 0;cursor: pointer;}
.logoBtn:hover{width:60px;height:60px; background-position:0 -60px;cursor: pointer;}
.logoText{width:378px; height:75px; background-position:-60px 0;}
/* 鼠标cursor */
.cursorDragMap{cursor:url("lib/img/win8/cur_hand.cur"),url(../lib/img/win8/cur_hand.cur),auto;}
div.olDragDown{cursor:url("lib/img/win8/cur_handGrab.cur"),url(../lib/img/win8/cur_handGrab.cur),auto;}

/*界面操作图标*/
.operator{width:50px; height:50px;background-image: url(../lib/img/win8/operator.png);cursor: pointer; z-index:1001;}
.opStart{ background-position:-300px 0; }
.opDown{ background-position:-300px -50px; }
.opZoomIn{ background-position:0 -50px; }
.opZoomOut { background-position:-50px -50px; }
.opRestore{ background-position:-100px -50px; }
.opPan{ background-position:-150px -50px; }
.opGrid{ background-position:-200px -50px; }
.opGridShow{ background-position:-250px -50px; }
.opStart:hover{ background-position:-350px 0; }
.opDown:hover{ background-position:-350px -50px; }
.opZoomIn:hover{ background-position:0 0; }
.opZoomOut:hover { background-position:-50px 0; }
.opRestore:hover{ background-position:-100px 0; }
.opPan:hover{ background-position:-150px 0; }
.opGrid:hover{ background-position:-200px 0; }
.opGridShow:hover{ background-position:-250px 0; }


/* 本案例采用样式 */
.startMenu
{
	/*background-image: url(../lib/img/win8/startMenu.png);*/
	cursor: pointer; 
	border:0px solid #35251E;
	width:50px;
	height:50px;
	margin:5px 0px 5px 0px;}
.startMenu:hover{	
	border:0px solid #999;
	/* CSS3 inset shadow: */
	-moz-box-shadow:0 0 20px #F7F5A5 inset;
	-webkit-box-shadow:0 0 20px #F7F5A5 inset;
	box-shadow:0 0 20px #F7F5A5 inset;

	/*圆角*/
	border-radius: 4px; 
 
}
.funRegion
{
	width:60px;
	height:82px;
	border:0px;
	margin:5px 8px 0px 18px ;
	text-align:center;
	color:#e1e1e1;/*rgb(53,37,30)*/
	display:inline-block;
	font-size:12px;
	float:left;}






