 body
 {
     margin:0px;
     padding: 10px;
     border:0px;
     }
    
 /*正文头部样式*/    
 div#header
  {
    margin-bottom:10px;
    height:29px;
 }

  #title
  {
    font-size:22px;
    font-family:Times New Roman;
    color:rgb(10,36,106);/*rgb(10,36,106)*/
    font-weight:bold;
    margin-left:5px;
    }

 #shortdesc
 {
   
    font-family:Microsoft YaHei;
    font-size:14px;
    font-weight:normal;
    margin:0px 0px 0px 20px;
    color:#333;
   }
   
 /*正文表格样式*/
 #contenttable
 {
     width:1260px;
     height:500px;
     margin:0px;
     padding:0px;
     vertical-align:top;}
 #mapCon
 {
    width:880px;
    height:inherit;}  
 #toolspanelCon
{
    width:100px;
    height:inherit;
    vertical-align:top;}
        
 /*表格中地图样式*/    
 #map,.olMap
{
    height:inherit;
    width: inherit;
    margin: 0px;
    border: 0px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    box-shadow:0px 1px 3px rgb(10,36,106);/*rgba(0,0,0,0.3);*/   
}

/*表格中工具面板样式*/  
div#toolspanelML
{
    width:inherit;
    height:inherit;
    border:0px;
    padding-left:10px;
    font-family:Microsoft YaHei;
    font-size:13px;
    vertical-align:top;
    }
#dialogboxML
{
    border:1px solid #c4e9ea;
    padding:0px;
    }
.blockName
{
    margin:5px 5px 5px 5px;
    font-size:15px;
    font-weight:bold;
    color:#333;}
#itembox,.itembox
{
    border:1px solid #eaeaea;
    margin:2px;
    padding:3px 2px;
    background-color:rgb(221,230,245);}
.itembox select
{
    font-size:13px;
    margin:0px;}
.itembox input
{
    margin:5px 0px 5px 2px;
    height:16px;
    font-size:13px;}    
 
.functionButton
{
    width:70px;
    height:40px;
    border:0px;
    margin:5px;
    background-color:White;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    box-shadow:0px 1px 3px rgba(0,0,0,0.3);
    font-size:12px;
    font-family:Microsoft YaHei;
    background-color:rgb(221,230,245);
    }
.itembox .functionButton
{
  margin-left:-1px;  
}

.functionButton:hover
{
    border:1px solid #c4e9ea;
    background-color:#c4e9ea;}
    
button.functionButton image /*只有IE支持CSS设置图片大小，chrome和firefox支持直接在标签上设置从而实现改变图片本身的大小*/
{
    width:30px;
    height:30px;}

/*查询结果板块*/   
#switchBnt
{
    position:absolute;
    right:0px;
    bottom:318px;
    width:40px;
    height:26px;
    border:1px solid #84a0c4;
    background-color:#D6DFEB;}
#switchBnt img
{
    background-color:#D6DFEB;}
#tab
{
   background-color:#fafafa;
   position:absolute;
   right:0px;
   bottom:10px;
   z-index:2000; }
   
 /*专题图信息面板样式*/
 .themetableInfo
 {
    margin: 0px; 
    border: 0px solid rgb(223,234,252); 
    border-spacing: 0px;
    border-collapse: collapse; 
    background-color: white;
 }
.themetableInfo td
{
    border: 2px solid rgb(223,234,252);}