body
{
    margin:0;
	padding:5px 0 0 5px;
	background-color:#fff;
	color:#000;
	font-size:12px;
}
table
{
	border:0px;
}
td
{
	font-size:12px;
}
img
{
	cursor:pointer;
}
.case
{
	border:solid 1px #D2D1D1;
	margin:0 0 0 0;
	padding:0 0 0 0;
	text-align:center;
	color:#000;
}
.case_lr
{
	border-left:solid 1px #D2D1D1;
	border-right:solid 1px #D2D1D1;
	margin:0 0 0 0;
	padding:0 0 0 0;
	text-align:center;
	font-size:12px;
	cursor:pointer;
	color:#fff;
	background:url(../images/right_list_bj.gif) repeat-x;
	height:26px;
}
.t_l_bg
{
	background-image:url(../css1/l0.jpg);
	text-align:center;
}
.t_m_l
{
	background-image:url(../css1/l1.gif);
	text-align:center;
}
.t_m_bg
{
	background-image:url(../css1/m.jpg);
	text-align:center;
}
.t_m_tool
{
	background-image:url(../css1/mc.gif);
	text-align:center;
}
.t_m_tool_over
{
	background-image:url(../css1/mc_c.gif);
	text-align:center;
}
.t_b_bg
{
	background-image:url(../css1/mm.jpg);
}
.bottom
{
	background-image:url(../css1/bbg.jpg);
}
.mapList
{
	border:no;
}
.btncursor
{
   cursor:pointer;
}
.conditionBtn
{
	width:45;
}
.redFont
{
	color:Red;
	font-weight: bold; 
}
.bluetitle
{ 
	color:Blue;
	font-size:14px;
	font-weight: bold; 
}

INPUT {
	FONT-FAMILY: "宋体","Arial"; FONT-SIZE: 12px
}
SELECT {
	BACKGROUND-COLOR: #ffffff; FONT-FAMILY: "宋体","Arial"; FONT-SIZE: 12px
}
A:link {
	COLOR: #0b50a3; FONT-FAMILY: 宋体; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0b50a3; FONT-FAMILY: 宋体; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:active {
	COLOR: #000000; FONT-FAMILY: 宋体; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff3399; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
BODY {
	COLOR: #000000; FONT-FAMILY: 宋体; FONT-SIZE: 12px;
}
TABLE {
	 FONT-FAMILY: 宋体; FONT-SIZE: 12px
}
.none{
	border:black 1px solid;background:D4F8C9;padding-top:2
}
.over 
     {
	border:black 1px solid;background:F7D1FE;color:white;padding-top:2
}
